<?xml version="1.0" encoding="UTF-8"?>
<Module specificationVersion="1">
  <ModulePrefs title="Temperature"
               description="Description of temperature:My app converts the temperature from celcius to Fahrenhit"
               author="Shilpa Konatham"
               author_affiliation="freescale"
               author_email="lkonatham@gmail.com">

    <!-- Commonly used features -->
    <Require feature="dynamic-height" />
    <Require feature="jive-core-v2" />
    <Require feature="jquery-1.6" />
    <Require feature="opensocial-1.0" />
    <Require feature="osapi"/>
    <Require feature="settitle"/>
    <Require feature="setprefs"/>
    <Require feature="minimessage"/>
    <Require feature="views" />
    <!--
       <Require feature="jive-connects-v1">
         <param name="alias:temp|title:Temperature">jive:service://jivesoftware.com/it/temp?version=1</param>
        </Require>
    -->   
    <!-- Icons: 3 sizes, 16x16, 48x48, 128x128 -->
    <Link rel="Icon"       href="images/icon16.png" />
    <Link rel="MediumIcon" href="images/icon48.png" />
    <Link rel="LargeIcon"  href="images/icon128.png" />

    <!-- Screenshots: 600w x 400h, should include at least 1 and up to 5 -->
    <!--
    <Link rel="Screenshot1" href="images/screenshot1.png" />
    <Link rel="Screenshot2" href="images/screenshot2.png" />
    <Link rel="Screenshot3" href="images/screenshot3.png" />
    <Link rel="Screenshot4" href="images/screenshot4.png" />
    <Link rel="Screenshot5" href="images/screenshot5.png" />
    -->

    <!-- OAuth Services: https://developers.jivesoftware.com/community/docs/DOC-1161 -->
    <!--
    <OAuth>
      <Service name="example">
        <Access url="http://api.example.com/oauth/access_token" method="POST" />
        <Request url="http://api.example.com/oauth/request_token" method="POST" />
        <Authorization url="http://api.example.com/oauth/authorize" />
      </Service>
    </OAuth>
    -->

    <!-- Lifecycle Events: https://developers.jivesoftware.com/community/docs/DOC-1119 -->
    <!--
    <Link rel="event.addapp" href="http://www.example.com/add" />
    <Link rel="event.removeapp" href="http://www.example.com/remove" />
    -->

    <!-- Preloaded Content: http://wiki.opensocial.org/index.php?title=Remote_Data_Requests_%28v0.9%29#Preloading_data -->
    <!--
    <Preload href="http://www.example.com" />
    -->

  </ModulePrefs>

  <!-- User Preferences: http://code.google.com/apis/gadgets/docs/reference.html#Userprefs_Ref -->
  <UserPref name="where_i_live" display_name="Where I Live" datatype="string" default_value="" required="false" />
<UserPref name="where_i_work" display_name="Where I Work" datatype="string" default_value="" required="false" />
  <UserPref name="subscribe_to_newsletter" display_name="Subscribe to Newsletter" datatype="bool" default_value="" required="false" />
  <UserPref name="difficulty"
       display_name="Difficulty"
       datatype="enum"
       default_value="2">
    <EnumValue value="1" display_value="Easy"/>
    <EnumValue value="2" display_value="Medium"/>
    <EnumValue value="3" display_value="Hard"/>
  </UserPref>

<!--
  <!-- To begin development, remove the hello view and uncomment the home and canvas views below -->
  
  <Content type="html" view="home,canvas">
    <![CDATA[
      <script  type="text/javascript">
      function init() {
        osapi.people.getViewer().execute(function(viewerData) {
           if (!viewerData.error) {
              var viewerDiv = document.getElementById('current_user_id'),
                  viewerThumbnailImg = document.getElementById('viewerThumbnailImg');
              viewerDiv.innerHTML += viewerData.displayName;
              viewerThumbnailImg.attributes.getNamedItem("src").nodeValue=viewerData.thumbnailUrl;
              gadgets.window.adjustHeight();
           };
        });

        osapi.people.getViewerFriends().execute(function(viewerFriends) {
           if (!viewerFriends.error){
            var resultDiv = document.getElementById('result');
            resultDiv.innerHTML = viewerFriends.list.length;
           }
        });

        var workLocationSpan = document.getElementById('workLocationSpan'),
            prefs = new gadgets.Prefs(),
            yourWorkLocation = prefs.getString("work_location");
            workLocationSpan.innerHTML = yourWorkLocation;

      }

      function postActivity(){
        var params = {activity: {title:"Hello Jive!",
                          body:"Posting to the stream is easy!"}
                  };
         osapi.activities.create(params).execute(myCallback);
      }

      function myCallback(){
        var msg = new gadgets.MiniMessage(__MODULE_ID__);
            msg.createDismissibleMessage("You just posted an activity!");
            gadgets.window.adjustHeight();
      }

      gadgets.util.registerOnLoadHandler(init);
      </script>
      <p>Your display name is: <span id="current_user_id"></span></p>
      <p>Your thumbnail is: <img id="viewerThumbnailImg" src=""></img></p>
      <p>You have <span id='result'></span> friends.</p>
      <p>You work at: <span id='workLocationSpan'></span></p>
      <p><input type="button" value="Post Activity" onclick="postActivity(); return true;"/></p>

      ]]>
       function postActivity(){
          var params = {userId: "@viewer",
                       groupId: "@self",
                       activity: {title:"Hello Jive",
                               url:"http://community.jivesoftware.com/docs/DOC-65828",
                                   body:"This is my activity"}
                        };
           osapi.activities.create(params).execute(myCallback);

          }
</Content>
-->
  <Content type="html" view="home" href="home.html" preferred_height="400" />
  <Content type="html" view="canvas" href="canvas.html" preferred_height="800" />
  <Content type="html" view="output" href="output.html" />

    

</Module>
